/* CSS-Stylesheet (CS): addons.pak.css @ 2023-05-17 07:49:27 +0000 */
.CodeMirror-foldmarker{color:#FF5500;text-shadow:#ECECEC 1px 1px 2px,#ECECEC -1px -1px 2px,#ECECEC 1px -1px 2px,#ECECEC -1px 1px 2px;font-weight:bold;line-height:0.3;cursor:pointer}.CodeMirror-foldgutter{width:0.8em}.CodeMirror-foldgutter-open,.CodeMirror-foldgutter-folded{cursor:pointer}.CodeMirror-foldgutter-open:after{content:"\25BE";color:#778899}.CodeMirror-foldgutter-folded:after{content:"\25B8";color:#FF5500}.CodeMirror-dialog{position:absolute;left:0;right:0;background:inherit;z-index:15;padding:.1em .8em;overflow:hidden;color:inherit}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{border:none;outline:none;background:transparent;width:20em;color:inherit}.CodeMirror-dialog button{font-size:70%}.CodeMirror-fullscreen{position:fixed;top:23px;left:0;right:0;bottom:0;height:auto;z-index:99998}
/* #END */
