/* CSS-Stylesheet (CS): ibm-plex-sans.css @ 2023-05-17 07:48:50 +0000 */
@font-face{font-family:'IBM Plex Sans';font-style:normal;font-weight:400;src:local('IBM Plex Sans'),local('IBMPlexSans'),url('ibm-plex-sans-regular.woff2') format('woff2'),url('ibm-plex-sans-regular.ttf') format('truetype');font-display:swap;text-rendering:auto}@font-face{font-family:'IBM Plex Sans';font-style:normal;font-weight:700;src:local('IBM Plex Sans Bold'),local('IBMPlexSans-Bold'),url('ibm-plex-sans-bold.woff2') format('woff2'),url('ibm-plex-sans-bold.ttf') format('truetype');font-display:swap;text-rendering:auto}@font-face{font-family:'IBM Plex Sans';font-style:italic;font-weight:400;src:local('IBM Plex Sans Italic'),local('IBMPlexSans-Italic'),url('ibm-plex-sans-italic.woff2') format('woff2'),url('ibm-plex-sans-italic.ttf') format('truetype');font-display:swap;text-rendering:auto}@font-face{font-family:'IBM Plex Sans';font-style:italic;font-weight:700;src:local('IBM Plex Sans Bold Italic'),local('IBMPlexSans-BoldItalic'),url('ibm-plex-sans-bold-italic.woff2') format('woff2'),url('ibm-plex-sans-bold-italic.ttf') format('truetype');font-display:swap;text-rendering:auto}
/* #END */
