/* CSS-Stylesheet (CS): elegant.css @ 2023-05-17 07:49:28 +0000 */
.cm-s-elegant span.cm-number,.cm-s-elegant span.cm-string,.cm-s-elegant span.cm-atom{color:#762}.cm-s-elegant span.cm-comment{color:#262;font-style:italic;line-height:1rem}.cm-s-elegant span.cm-meta{color:#555;font-style:italic;line-height:1rem}.cm-s-elegant span.cm-variable{color:black}.cm-s-elegant span.cm-variable-2{color:#b11}.cm-s-elegant span.cm-qualifier{color:#555}.cm-s-elegant span.cm-keyword{color:#730}.cm-s-elegant span.cm-builtin{color:#30a}.cm-s-elegant span.cm-link{color:#762}.cm-s-elegant span.cm-error{background-color:#fdd}.cm-s-elegant .cm-node,.cm-s-elegant .cm-tag{color:#9c3328}.cm-s-elegant .CodeMirror-activeline-background{background:#e8f2ff!important}.cm-s-elegant .CodeMirror-matchingbracket{outline:1px solid grey;color:black!important}.cm-s-elegant .CodeMirror-matchingtag{background:#91b150!important;color:#FFFFFF!important}
/* #END */
